{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_recordrtc/video_recorder

    Video recorder widget.

    Context variables required for this template:
    * maxrecordingduration: Length limit (in seconds) for the recording.
    * allowpausing: whether this question allows the recording to be paused.
    * hasrecording: boolean - whether there is already a recording.
    * recordingurl: the URL of that recording (empty string if none).
    * aspectratio: (only for video) '4x3' or '16x9'.
    * width: (only for video) width of the video in pixels.
    * candownload: whether the current user should see options to download the recordings.
    * enablereflection: whether reflection is enabled.
    * reflectiontime: reflection and preview time in seconds.

    Example context (json):
    {
        "filename": "recording.webm",
        "widgetname": "recording",
        "maxrecordingduration": 30,
        "allowpausing": true,
        "hasrecording": false,
        "recordingurl": "http://example.com/moodle/draftfile.php?...",
        "aspectratio": "16x9",
        "width": 640,
        "candownload": true,
        "enablereflection": false,
        "reflectiontime": 10
    }
}}
<span class="qtype_recordrtc-video-widget qtype_recordrtc-ratio-{{aspectratio}} d-flex flex-column mw-100"
      style="width: {{width}}px" data-media-type="video" data-widget-name="{{widgetname}}"
      data-state="preview"
      data-max-recording-duration="{{maxrecordingduration}}"
      data-preview-time="{{reflectiontime}}"
      data-recording-filename="{{filename}}"
      data-enablereflection="{{enablereflection}}"
      data-reflectiontime="{{reflectiontime}}">

    <span class="qtype_recordrtc-preview-placeholder flex-grow-1 text-center">
        {{#str}}previewingquestion, qtype_recordrtc, {{reflectiontime}}{{/str}}
    </span>
    <span class="qtype_recordrtc-no-recording-placeholder mb-1 text-center hide">
        {{#str}}norecording, qtype_recordrtc{{/str}}
    </span>
    <span class="qtype_recordrtc-media-player flex-grow-1 hide">
        <video controls class="w-100"{{^candownload}} oncontextmenu="return false;" controlsList="nodownload"{{/candownload}}>
            <source src="{{recordingurl}}">
        </video>
    </span>
    <span class="qtype_recordrtc-control-row w-100 hide">
        <span class="qtype_recordrtc-time-left flex-grow-1 text-center position-relative">
            {{> qtype_recordrtc/progress_bar }}
        </span>
        {{#allowpausing}}
            <span class="qtype_recordrtc-pause-button hide">
                <button type="button" data-pause="1" class="btn btn-secondary osep-smallbutton ml-1 mr-0">
                    {{#str}}pause, qtype_recordrtc{{/str}}
                </button>
            </span>
        {{/allowpausing}}
        <span class="qtype_recordrtc-finish-button hide">
            <button type="button" class="btn btn-primary osep-smallbutton ml-1 mr-0">
                {{#str}}finishrecording, qtype_recordrtc{{/str}}
            </button>
        </span>
    </span>
    {{#enablereflection}}
        <button id="show-question-button-{{widgetname}}" class="btn btn-primary hide" disabled>
            {{#str}}showquestion, qtype_recordrtc{{/str}}
        </button>
        <div id="reflection-timer-{{widgetname}}" class="reflection-timer hide">
            {{#str}}reflectiontime_remaining, qtype_recordrtc, {{reflectiontime}}{{/str}}
        </div>
    {{/enablereflection}}
</span>